/WiFiAnalyzer.sln
.idea
/WiFiAnalyzer.sln.DotSettings.user
/WiFiScanner/obj/Debug/WiFiScanner.csproj.CopyComplete
/WiFiScanner/obj/Debug/WiFiScanner.csproj.FileListAbsolute.txt
/WiFiScanner/obj/Debug/WiFiScanner.csprojAssemblyReference.cache
/WiFiScanner/obj/Debug/WiFiScanner.exe
/WiFiScanner/obj/Debug/WiFiScanner.pdb
